:root {
    --primary-color: #F3976C;
    --primary-dark: #97380C;
    --primary-hover: #c27956;
    --dark-blue: #364577;
    --dark-text: #333333;
    --dark-slate: #181F35;
    --white: #FFFFFF;
    --light-white: #FCEBE4;
    --transition-default: all .3s ease-in-out;
    --transition-fast: all .2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
}

a,
button {
    transition: var(--transition-default);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:focus,
button:focus {
    outline: 2px solid #FF6B6B;
    outline-offset: 2px;
}

#page-loading-blocs-notification {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-repeat {
    background-repeat: repeat !important;
    background-size: auto !important;
}

.bg-t-edge {
    background: top no-repeat;
    background-size: auto !important;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1;
}

.texture-paper::before {
    background: url("img/texture-paper.png");
    background-size: 280px 280px;
    background-repeat: repeat;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: rgba(255, 255, 255, .7);
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
}

/* Light bloc links and navigation */
.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: var(--white);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1);
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

/* Light bloc styling */
.l-bloc {
    color: rgba(0, 0, 0, .75);
}

.l-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
}

.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0, 0, 0, .6);
}

.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0, 0, 0, 1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6);
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}
/* ////////////////// */
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    flex: 1 1 calc(50% - 30px);
}

@media (max-width: 767px) {
    .portfolio-item {
        flex-basis: 100%;
    }
}
/* ////////////////// */
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters>[class^="col-"],
.row.row-no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#bloc-1-hero h1 {
    font-size: 32px;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;

    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav>li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu>li>a {
    text-align: inherit;
}

.nav>li a:hover,
.nav>li a:focus {
    background: transparent;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }

    .nav>li .dropdown-menu a,
    .nav>li .dropdown-menu a:hover {
        color: #484848;
    }

    .nav-center {
        text-align: center;
    }

    .nav-center .navbar-header {
        width: 100%;
    }

    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav>li {
        float: none;
        display: inline-block;
    }

    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }

    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}

.nav>li>.dropdown a {
    background: none !important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0 !important;
    float: right;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-md {
    font-size: 30px !important;
}

.icon-lg {
    font-size: 60px !important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.form-control {
    border-color: rgba(0, 0, 0, .5);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: var(--white);
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

#lightbox-modal .modal-body {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightbox-image {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}

#lightbox-video-container {
    width: 100%;
    height: 100%;
}

.lightbox-caption {
    padding: 20px;
    color: var(--white);
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: var(--white);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: var(--white);
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: var(--transition-fast);
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: var(--dark-text);
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

p {
    font-size: 11px;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}

.cta-hero {
    margin-top: 22px;
    color: var(--white) !important;
    text-transform: uppercase;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

.social a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-text {
    display: block;
    margin-top: 5px;
    color: var(--white);
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-text) !important;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto;

}

h1 {
    color: var(--dark-text) !important;
}

h4 {
    color: var(--dark-text) !important;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: var(--white) !important;
}

.bgc-white {
    background-color: var(--white);
}

.bgc-dark-slate-blue {
    background-color: var(--dark-blue);
}

.bgc-atomic-tangerine {
    background-color: var(--primary-color);
}

.tc-white {
    color: var(--light-white) !important;
}

.btn-atomic-tangerine {
    background: var(--primary-dark);
    color: var(--white) !important;
}

.btn-atomic-tangerine:hover {
    background: var(--primary-hover) !important;
    color: var(--white) !important;
}

.ltc-white {
    color: var(--white) !important;
}

.ltc-white:hover {
    color: #cccccc !important;
}

.ltc-atomic-tangerine {
    color: var(--primary-color) !important;
}

.ltc-atomic-tangerine:hover {
    color: var(--primary-hover) !important;
}

.icon-dark-slate-blue {
    color: var(--dark-slate) !important;
    border-color: var(--dark-slate) !important;
}

.bg-dots-bg {
    background-image: url("img/dots-bg.webp");
    background-size: auto !important;
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.webp");
    background-size: auto !important;
}

.bg-banniere {
    background-image: url("img/agence-la-panthere.webp");
    background-size: auto !important;
}

.bg-presentation {
    background-image: url("img/image-de-presentation.webp");
    background-size: auto !important;
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }

    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none !important;
    }

    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }

    .site-navigation {
        position: inherit;
        transform: none;
    }

    .nav>li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }

    .nav>li:hover {
        background: rgba(0, 0, 0, .08);
    }

    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px !important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }

    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }

    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        box-shadow: none;
    }

    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }

    .bloc {
        padding-left: 0;
        padding-right: 0;
    }

    .bloc-lg {
        padding: 40px 0;
    }

    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }

    .voffset {
        margin-top: 5px;
    }

    .voffset-lg {
        margin-top: 30px;
    }

    form {
        padding: 5px;
    }

    .close-lightbox {
        display: inline-block;
    }
}

@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

.col-form {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
}